---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from '../components/Header.astro';
import HeroSection from '../components/HeroSection.astro';
import AboutSection from '../components/AboutSection.astro';
import ProjectsSection from '../components/ProjectsSection.astro';
import SkillsSection from '../components/SkillsSection.astro';
import ContactSection from '../components/ContactSection.astro';
---


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portfolio de Desarrollador Web</title>
</head>
<body class="bg-gray-100">
    <Header />
    <main class="container mx-auto px-4 py-8">
        <HeroSection />
        <AboutSection />
        <ProjectsSection />
        <SkillsSection />
        <ContactSection />
    </main>
</body>
</html>

