---
// Si necesitas algún front matter, colócalo aquí
// Por ejemplo:
// interface Props {
//   email: string;
// }
// const { email } = Astro.props;
---

<button id="sendMessageButton" class="fixed bottom-8 right-8 bg-purple-500 text-white px-6 py-3 rounded-full hover:bg-purple-600 transition-colors duration-300 z-50">
    <span class="sr-only">Enviar mensaje</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18" />
    </svg>
</button>

<script>
    const button = document.getElementById('sendMessageButton');
    
    if (button) {
        button.addEventListener('click', () => {
            window.location.href = 'mailto:tunombre@ejemplo.com';
        });
    } else {
        console.error("El botón de enviar mensaje no se encontró en el DOM.");
    }
</script>

<style>
  /* Aquí puedes agregar estilos específicos para este componente si es necesario */
</style>
